@model IEnumerable<portfolio2.Models.SessionViewModel>

<section class="search">
    <div class="container">
        <div class="logo">
            <img src="~/images/logo.png" class="rounded mx-auto d-block" alt="LinkUp Logo">
        </div>

        <div class="col-lg-10 mx-auto">
            <form>
                <div class="row mb-4">
                    <div class="form-group form-group-lg col-md-2">
                        <select class="custom-select custom-select-lg" name="">
                            <option selected value="sessions">Sessions</option>
                            <option value="users">Users</option>

                        </select>
                    </div>
                    <div class="input-group input-group-lg mb-4 col-md-10">
                        <input type="search" placeholder="Search for a user or session..." aria-describedby="button-addon5" class="form-control">
                        <div class="input-group-append">
                            <button id="button-addon5" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>

            </form>
            <div class="requestbutton text-center">
                <a href="#" class="btn text-primary">Didn’t find your session? Request now!</a>
            </div>
        </div>

        <!-- Underlined search bars with buttons -->

    </div>

</section>

@*@if (Context.Session.GetInt32("StudentID") == null)
{*@
    <section class="explore">
        <div class="container">
            <div class="row mb-3">
                <div class="col">
                    <h1>Explore LinkUp!</h1>
                    <p class="text-muted">Find what you want to learn!</p>
                </div>
                <div class="col text-right">
                    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-dark">See All Categories</a>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 text-center">
                        <a class="lightbox" asp-controller="Category" asp-action="Filtered" asp-route-id="1"><img src="~/images/Categories/Technology.jpg" class="card-img-top"></a>
                        <div class="card-body">
                            <h6>Technology</h6>
                            <p class="text-muted card-text">Meet tech savvy students that are proficient programmers, software developers and enhance your knowledge on Technology</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 text-center">
                        <a class="lightbox" asp-controller="Category" asp-action="Filtered" asp-route-id="2"><img src="~/images/Categories/artsandcraft.jpg" class="card-img-top"></a>
                        <div class="card-body">
                            <h6>Arts and Craft</h6>
                            <p class="text-muted card-text">Meet creative students to widen your creativity and learn how to create different masterpieces</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 text-center">
                        <a class="lightbox" asp-controller="Category" asp-action="Filtered" asp-route-id="3"><img src="~/images/Categories/Music.jpg" class="card-img-top"></a>
                        <div class="card-body">
                            <h6>Music</h6>
                            <p class="text-muted card-text">Meet students with musical talents and string along</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 text-center">
                        <a class="lightbox" asp-controller="Category" asp-action="Filtered" asp-route-id="4"><img src="~/images/Categories/sportsandfitness.jpg" class="card-img-top"></a>
                        <div class="card-body">
                            <h6>Sports and Fitness</h6>
                            <p class="text-muted card-text">Meet gym rats and athletes to learn a new sport and stay active</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
@*}*@
<section class="sessions">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h1> Trending Sessions </h1>
                <p class="text-muted">Browse recent listings added into the mix</p>
            </div>
        </div>
        <div class="row mb-3">
            @foreach (var item in Model)
            {
                string selectedCard = "";
                if (item.StudentName == Context.Session.GetString("LoginID"))
                {
                    selectedCard = "style='color:darkgreen;";
                }
                <div class="col-md-6 col-lg-3">
                    <div class="card h-100">
                        <a class="lightbox" asp-controller="Session" asp-action="Details" asp-route-id="@item.SessionID"><img src="~/images/Sessions/@Html.DisplayFor(modelItem => item.Photo)" class="card-img-top"></a>
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.SessionDate) | Duration: @Html.DisplayFor(modelItem => item.Hours)hrs | @Html.DisplayFor(modelItem => item.LocationName)</h6>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Category: @Html.DisplayFor(modelItem => item.CategoryName)</li>
                            <li class="list-group-item">Participants: @Html.DisplayFor(modelItem => item.Participants)</li>
                            <li class="list-group-item">Host: @Html.DisplayFor(modelItem => item.StudentName)</li>
                        </ul>
                        <div class="card-body">
                            <a asp-controller="Session" asp-action="Details" asp-route-id="@item.SessionID" class="btn btn-primary">View Session Details</a>
                        </div>
                    </div>
                </div>
             }
        </div>

    </div>
</section>