@model IEnumerable<portfolio2.Models.SessionViewModel>
@{int count = 0;}
<section class="search">
    <div class="container">
        <div class="logo">
            <img src="~/images/Icon (1).png" class="rounded mx-auto d-block" alt="LinkUp Logo">
        </div>

        <div class="col-lg-10 mx-auto">
            <form asp-action="Search" method="post">
                <div class="row mb-4">
                    <div class="form-group form-group-lg col-md-2">
                        <select class="custom-select custom-select-lg" name="type">
                            <option selected value="sessions">Sessions</option>
                            <option value="users">Users</option>
                        </select>
                    </div>
                    <div class="input-group input-group-lg mb-4 col-md-10">
                        <input type="search" name="searchedvalue" placeholder="Search for a user or session..." aria-describedby="button-addon5" class="form-control" />
                        <div class="input-group-append">
                            <button id="button-addon5" type="submit" class="btn btn-lg btn-primary"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>

            </form>
            <div class="requestbutton text-center">
                <a asp-controller="Student" asp-action="MakeRequest" class="btn text-primary">Didn’t find your session? Request now!</a>
            </div>
        </div>

        <!-- Underlined search bars with buttons -->

    </div>

</section>

@if (ViewData["Searched"] == null)
{
    <section class="explore">
        <div class="container">
            <div class="row mb-3">
                <div class="col">
                    <h1>Explore LinkUp!</h1>
                    <h6 class="text-muted">Find what you want to learn!</h6>
                </div>
                <div class="col text-right">
                    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-dark">See All Categories</a>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 text-center">
                        <a class="lightbox" asp-controller="Category" asp-action="Filtered" asp-route-id="1"><img src="~/images/Categories/Technology.jpg" class="card-img-top"></a>
                        <div class="card-body">
                            <h6>Technology</h6>
                            <p class="text-muted card-text">Meet tech savvy students that are proficient programmers, software developers and enhance your knowledge on Technology</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 text-center">
                        <a class="lightbox" asp-controller="Category" asp-action="Filtered" asp-route-id="2"><img src="~/images/Categories/artsandcraft.jpg" class="card-img-top"></a>
                        <div class="card-body">
                            <h6>Arts and Craft</h6>
                            <p class="text-muted card-text">Meet creative students to widen your creativity and learn how to create different masterpieces</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 text-center">
                        <a class="lightbox" asp-controller="Category" asp-action="Filtered" asp-route-id="3"><img src="~/images/Categories/Music.jpg" class="card-img-top"></a>
                        <div class="card-body">
                            <h6>Music</h6>
                            <p class="text-muted card-text">Meet students with musical talents and string along</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="card h-100 text-center">
                        <a class="lightbox" asp-controller="Category" asp-action="Filtered" asp-route-id="4"><img src="~/images/Categories/sportsandfitness.jpg" class="card-img-top"></a>
                        <div class="card-body">
                            <h6>Sports and Fitness</h6>
                            <p class="text-muted card-text">Meet gym rats and athletes to learn a new sport and stay active</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
}
<section class="sessions">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                @if (ViewData["Searched"] != null)
                {
                    <h1>You searched for '<span class="text-danger">@ViewData["Searched"]</span>'...</h1>
                    <h6 class="text-muted">Here are the results:</h6>

                    @foreach (var item in Model)
                    {
                        if (item.Status == 'Y')
                        {
                            count++;
                        }
                        if (item.Status == 'N')
                        {
                            count = 0;
                        }
                    }
                    if (count > 0)
                    {
                        <h4>There does not seem to be any session of the name '<span class="text-danger">@ViewData["Searched"]</span>'</h4>
                    }
                }
                else
                {
                    <h1> Trending Sessions </h1>
                    <h6 class="text-muted">Browse recent listings added into the mix</h6>
                }
            </div>
        </div>
        <div class="row mb-3">
            @foreach (var item in Model)
            {
                string selectedCard = "class ='card bg-light h-100'";
                string sCard = "class='card-body'";
                if (item.StudentName == Context.Session.GetString("LoginID"))
                {
                    selectedCard = "class ='card border-primary text-blue h-100'";
                    sCard = "class='card-body text-primary'";
                }
                if (item.Status == 'N') //show all the listing where the status is not done
                {
                    <div class="col-md-6 col-lg-3">
                        <div @Html.Raw(selectedCard)>
                            <a class="lightbox" asp-controller="Session" asp-action="Details" asp-route-id="@item.SessionID"><img src="~/images/Sessions/@item.Photo" class="card-img-top"></a>
                            <div @Html.Raw(sCard)>
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.SessionDate) | Duration: @Html.DisplayFor(modelItem => item.Hours)hrs | @Html.DisplayFor(modelItem => item.LocationName)</h6>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Category: @Html.DisplayFor(modelItem => item.CategoryName)</li>
                                <li class="list-group-item">Participants: @Html.DisplayFor(modelItem => item.Participants)</li>
                                <li class="list-group-item">Host: @Html.DisplayFor(modelItem => item.StudentName)</li>
                            </ul>
                            <div class="card-body">
                                @if (item.StudentName == Context.Session.GetString("LoginID"))
                                {
                                    <a asp-controller="Session" asp-action="Details" asp-route-id="@item.SessionID" class="btn btn-warning">View Your Session</a>
                                }
                                else
                                {
                                    <a asp-controller="Session" asp-action="Details" asp-route-id="@item.SessionID" class="btn btn-primary">View Session Details</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>

    </div>
</section>