@model IEnumerable<portfolio2.Models.StudentDetails>

@{
    ViewData["Title"] = "ViewSessionParticipant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewSessionParticipant</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                Chat With Student
            </th>
        </tr>
    </thead>
    <tbody>
        @{string studentnumber = "";
            @foreach (var item in Model)
            {
                studentnumber += item.StudentNumber + "@connect.np.edu.sg,";
                <tr>
                    <td>
                        @if (item.Photo != "")
                        {
                            <img src="~/images/Profilepictures/@item.Photo" />
                        }
                        else
                        {
                            <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg">
                        }
                    </td>
                    <td>
                        <a asp-controller="Student" asp-action="ProfileDetails" asp-route-id="@item.StudentNumber" target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        <a href="https://teams.microsoft.com/l/chat/0/0?users=@item.StudentNumber@@connect.np.edu.sg" target="_blank"><img src="~/images/Icons/teamslogo.png" /></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.Count() > 1)
{
    <a href="https://teams.microsoft.com/l/chat/0/0?users=@studentnumber&topicName=@ViewData["SessionName"]">Create a group in Teams</a>
}

