@model IEnumerable<portfolio2.Models.RequestViewModel>

<section class="sessions">
    <div class="container">
        <div class="row mb-3">
            @foreach (var item in Model)
            {
                @if (item.Status == 'N')
                {
                    <div class="col-md-6 col-lg-3">
                        <div class="card h-100">
                            <a class="lightbox"><img src="~/images/Sessions/@Html.DisplayFor(modelItem => item.Photo)" class="card-img-top"></a>
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.AvailabilityFrom) | Duration: @Html.DisplayFor(modelItem => item.Hours)hrs | @Html.DisplayFor(modelItem => item.LocationName) | Points: @Html.DisplayFor(modelItem => item.PointsEarned)</h6>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Category: @Html.DisplayFor(modelItem => item.CategoryName)</li>
                                <li class="list-group-item">Requester: @Html.DisplayFor(modelItem => item.Name)</li>
                            </ul>
                            <div class="card-body">
                                @if (item.StudentID != Convert.ToInt32(Context.Session.GetInt32("StudentID")))
                                {
                                    <a asp-action="JoinRequest" asp-controller="Request" class="btn btn-primary" asp-route-id="@item.RequestID">Join as tutor</a>
                                }
                                @if (item.StudentID == Convert.ToInt32(Context.Session.GetInt32("StudentID")))
                                {
                                    <a asp-action="EditRequest" asp-controller="Request" class="btn btn-primary col-md-12" asp-route-id="@item.RequestID">Edit</a>
                                    <a asp-action="DeleteRequest" asp-controller="Request" class="btn btn-secondary col-md-12" asp-route-id="@item.RequestID">Delete</a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>


