@model portfolio2.Models.Shop

@{
    ViewData["Title"] = "Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<div class="session-photo">
    @if (TempData["Cancel"] != null)
    {
        <img src="~/images/Icons/sad1.png" style="max-width:20%; height:auto; display:block; margin-right:auto; margin-left: auto;">
        <div style="text-align: center;">
            <h4>@TempData["Cancel"]</h4>
        </div>
    }
    @if (TempData["CannotCancel"] != null)
    {
        <h4 class="text-danger">@TempData["CannotCancel"]</h4>
    }
</div>
<form asp-action="Purchase" class="form" role="form" autocomplete="off">
    <div class="container session">
        <div class="session-photo">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="session-img">
                                <img src="~/images/Shop/@Model.Photo" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="session-name">
                        <h2>@Html.DisplayFor(model => model.ItemName)</h2>
                    </div>
                    <hr />


                    <div class="session-description">
                        <p>@Html.DisplayFor(model => model.ItemDescription)</p>
                        <p>@Html.DisplayFor(model => model.Cost)</p>
                    </div>
                    <div hidden readonly>
                        <input asp-for="ItemID" class="form-control" />
                        <input asp-for="Photo" class="form-control" />
                        <input asp-for="ItemName" class="form-control" />
                        <input asp-for="ItemDescription" class="form-control" />
                        <input asp-for="Cost" class="form-control" />
                    </div>
                    <div class="session-buttons">
                        <input type="submit" class="btn btn-warning" value ="Purchase">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>