@model portfolio2.Models.StudentDetails

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>We noticed you are a first time here! Enter your details below!</h2>
@if (ViewData["Message"] != null)
{
    <h3 class="text-danger" style="text-align:center;">@ViewData["Message"]</h3>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input class="form-control" value="@Html.Display("Name")" disabled/>
                <span asp-validation-for="Name" class="text-danger">This field is automatically filled in for you</span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" value="@Html.Display("Year")"/>
                <span asp-validation-for="Year" class="text-danger">
                    @if (ViewData["YearError"] != null)
                    {
                        @ViewData["YearError"]
                    }
                </span>
            </div>
            <div class="form-group">
                <label asp-for="StudentNumber" class="control-label"></label>
                <input class="form-control" disabled value="@Html.Display("StudentNumber")"/>
                <span asp-validation-for="StudentNumber" class="text-danger">This field is automatically filled in for you</span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNo" class="control-label"></label>
                <input asp-for="PhoneNo" class="form-control" value="@Html.Display("PhoneNo")"/>
                <span asp-validation-for="PhoneNo" class="text-danger">
                    @if (ViewData["PhoneError"] != null)
                    {
                        @ViewData["PhoneError"]
                    }
                </span>
            </div>
            <div class="form-group">
                <label asp-for="ExternalLink" class="control-label"></label>
                <input asp-for="ExternalLink" class="form-control" />
                <span asp-validation-for="ExternalLink" class="text-danger">You can leave this blank and fill in later!</span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger">You can leave this blank and fill in later!</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

