@model portfolio2.Models.StudentDetails

@{
    ViewData["Title"] = "Create";
    if (Context.Session.GetInt32("StudentID") != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_SignInLayout.cshtml";
    }
}

<div class="container py-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div>
                @if (ViewData["Message"] != null)
                {
                    <h5 class="text-danger" style="text-align:center;">@ViewData["Message"]</h5>
                }
            </div>
            <div class="card card-outline-secondary">
                <div class="card-header text-center">
                    <h4 class="mb-0">Account Setup</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Create" class="form" role="form" autocomplete="off" onsubmit="return confirm('Confirm the Details?');" id="createstudentform">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group row">
                            <label label asp-for="Name" class="col-lg-3 col-form-label form-control-label"></label>

                            <div class="col-lg-9">
                                <input class="form-control" value="@Html.Display("Name")" disabled />
                                <span asp-validation-for="Name" class="text-danger">This field is automatically filled in for you</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label label asp-for="StudentNumber" class="col-lg-3 col-form-label form-control-label"></label>

                            <div class="col-lg-9">
                                <input class="form-control" value="@Html.Display("StudentNumber")" disabled />
                                <span asp-validation-for="StudentNumber" class="text-danger">This field is automatically filled in for you</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="CourseID" class="col-lg-3 col-form-label form-control-label"></label>

                            <div class="col-lg-9">
                                <select asp-for="CourseID" asp-items="@ViewData["Courselist"] as List<SelectListItem>" class="form-control"></select>
                                <span asp-validation-for="CourseID" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Year" class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input asp-for="Year" class="form-control" value="@Html.Display("Year")" id="year" />
                                <span asp-validation-for="Year" class="text-danger" id="warning1"></span>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="PhoneNo" class="col-lg-3 col-form-label form-control-label">Phone Number</label>
                            <div class="col-lg-9">
                                <input asp-for="PhoneNo" class="form-control" id="phone" />
                                <span asp-validation-for="PhoneNo" class="text-danger" id="warning"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Interest" class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input asp-for="Interest" class="form-control" />
                                <span asp-validation-for="Interest" class="text-danger">You can leave this blank and fill in later!</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="ExternalLink" class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input asp-for="ExternalLink" class="form-control" />
                                <span asp-validation-for="ExternalLink" class="text-danger">You can leave this blank and fill in later!</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Description" class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger">You can leave this blank and fill in later!</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="Submit" class="btn btn-primary" value="Create" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>