@model IEnumerable<portfolio2.Models.RequestViewModel>

@{
    ViewData["Title"] = "My Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var getlist = ViewBag.list as IEnumerable<portfolio2.Models.JoinedRequests>;
}

<section class="title">
    <div class="container myrequestsheader">
        <div class="text-center">
            <p class="h1">My Requests</p>
            <p class="font-weight-light">View all your created requests here!</p>
        </div>

    </div>
</section>

<div class="table">
    <div class="container">
        <div class="card">
            <h5 class="card-header text-center">My Requests</h5>
            <div class="card-body">
                <partial name="~/Views/Student/_ViewRequests.cshtml" model="@Model" />
            </div>
        </div>
    </div>
</div>

<div class="table">
    <div class="container">
        <div class="card">
            <h5 class="card-header text-center">Joined Requests</h5>
            <div class="card-body">
                <table id="viewRequests" class="table table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Date</th>
                            <th>Title</th>
                            <th>Hours</th>
                            <th>Max capacity</th>
                            <th>Points earnable</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var joinedrequest in getlist)
                        {
                            <tr>
                                <td>@joinedrequest.DateRequest</td>
                                <td>@joinedrequest.Title</td>
                                <td>@joinedrequest.Hours</td>
                                <td>@joinedrequest.MaxCap</td>
                                <td>@joinedrequest.PointsEarned</td>
                                <td>@joinedrequest.LocationName</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



