@model IEnumerable<portfolio2.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Context.Session.GetInt32("StudentID") != null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_SignInLayout.cshtml";
    }
}

<title>Categories</title>
<body>
    <section class="gallery-block cards-gallery">
        <div class="container">
            <div class="heading">
                <h2>Categories</h2>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0 transform-on-hover">
                            <a class="lightbox" asp-route-id="@item.CategoryID" asp-controller="Category" asp-action="Filtered"><img src="~/images/Categories/@Html.DisplayFor(modelItem => item.CategoryPhoto)" class="card-img-top" /></a>
                            <div class="card-body">
                                <h6>@Html.DisplayFor(modelItem => item.CategoryName)</h6>
                                <p class="text-muted card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                            </div>
                        </div>
                    </div>

                    @*<tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryPhoto)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>
                        </tr>*@
                }
            </div>
        </div>
    </section>
</body>


